header{
  background-color: #eff2f7;
  height: 60px;
}
.mannka-text{
  color: #000000;
  text-decoration: none;
  display: inline-block;
  height: 60px;
  line-height: 60px
}
.login{
  background-image: url(./../svg/login.svg);
  background-size: 100% 100%;
  display: inline-block;
  width: 36px;
  height: 60px;
  line-height: 60px;
}